/*
Masthead Stuff
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}
@-ms-viewport{
    width: device-width;
}
div[dz-file-preview],
div[dz-preview],
div[dz-details],
div[dz-details] {
    display: none !important;
    opacity: 0 !important;
    position: absolute !important;
}
body {
    background: #e1e4f7;
}
div#container {
    position: absolute;
    top: 0;
    left: 40px;
    bottom: 0;
    right: 0;
    height: calc(100% - 20px);
    width: calc(100% - 40px);
    font-family: 'Open Sans',
        sans-serif;
}
#masthead {
    position: fixed;
    left: 0;
    z-index: 7;
    width: 100%;
    background: #565656;
    color: #fff;
    font-size: 1.1em;
}
#masthead>span,
#masthead>label {
    display: inline-block;
    padding: 7px;
}
#rightm {
    cursor: pointer;
    float: right;
    position: relative;
    z-index: 8;
    -webkit-transition: .1s;
    transition: .1s;
}
#rightm .fa {
    font-size: 1.4em;
    padding: 0em;
    vertical-align: middle;
    position: relative;
    top: 0.025em;
    right: -0.2em;
    margin-left: -9px;
}
#menub + #masthead #rightm .fa::before {
    content: "\e90a";
}
#menub {
    display: none;
}
#menub:checked + #masthead #rightm .fa::before {
    content: "\e90b";
}
#tinypic {
    display: inline-block;
    background-size: cover !important;
    height: 45px;
    width: 45px;
    margin-top: -100px;
    position: relative;
    top: 20px;
    border-radius: 50%;
    border: 2px solid #333;
    background-position: center;
}
#dcontainer {
    margin-top: 14px;
    text-align: center;
    position: absolute;
    width: 100%;
}
#dropdown {
    display: none;
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    z-index: 3;
}
#dropdown li {
    padding: 10px 35px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background: #eee;
    color: #333;
    font-weight: 600;
    font-size: 0.9em;
    cursor: pointer;
    -webkit-transition: .1s;
    transition: .1s;
}
#menub:checked + #masthead #dropdown {
    display: inline-block;
    z-index: 4;
}
#secondary {
    display: none;
}
#menub:checked + #masthead #secondary {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
}
#masthead > a {
    text-decoration: none;
    display: inline-block;
    color: #fff;
    padding: 7px;
}
#brand {
    position: absolute;
    display: block;
    top: 0;
    left: 15px;
    padding: 14px 12px 12px 12px;
    width: 150px;
    height: auto;
    background: #fdfdfd;
    z-index: 20;
    box-shadow: 0 0 10px -3px #000;
    transition: box-shadow .1s,
        background .1s,
        color .1s;
}
#brand #brandblue {
    transition: .1s;
}
a[ng-click],
.folderitem,
.noteitem {
    cursor: pointer;
    margin: 10px;
}
#clickdown {
    display: none;
}

/*
Editor Stuff
*/
#content {
    padding-top: 3em;
    position: relative;
    z-index: 2;
    text-align: center;
}
text-angular .ta-text,
text-angular [text-angular-toolbar],
[ng-model="noteinfo.name"] {
    border: solid 3px #444;
    margin: 5px;
    padding: 15px;
}
text-angular.focussed .ta-text {
    border-color: steelblue !important;
}
[ng-model="noteinfo.name"] {
    display: block;
    width: calc(100% - 10px);
    padding: 5px;
    font-size: 1.2em;
    font-weight: 600;
    font-family: "Open Sans",
        sans-serif;
    color: #555 !important;
    -webkit-transition: .1s;
    transition: .1s;
}
[ng-model="noteinfo.name"]:focus {
    outline: 0;
    color: #222 !important;
    border-color: steelblue;
}
[ng-model="noteinfo.name"],
text-angular .ta-text {
    color: #222;
    background: #fff;
}
text-angular [text-angular-toolbar] {
    background: #fff;
}
text-angular [text-angular-toolbar] button {
    border: 2px solid;
    margin: 2px;
    font-size: 1em;
    padding: 3px 6px;
    cursor: pointer;
}
text-angular .focussed button {
    border: solid #333;
    color: #111;
}
#editb {
    display: none;
}
#editlabel {
    box-sizing: content-box;
    display: block;
    width: calc(100% - 25px);
    border: solid 3px #333;
    padding: 2px;
    margin: 0 auto;
    background: #eee;
    color: #222;
    font-weight: 600;
    padding: 5px;
    cursor: pointer;
}
#editlabel .fa {
    float: right;
    padding-top: 3px;
}
#editb:checked + #editlabel {
    background: #555;
    color: #fff;
}
#editb:checked + #editlabel .fa::before {
    content: "\f077";
}
#editb + label + text-angular .ng-scope.ng-isolate-scope.ta-toolbar.btn-toolbar {
    display: none !important;
}
#editb:checked + label + text-angular .ng-scope.ng-isolate-scope.ta-toolbar.btn-toolbar {
    display: block !important;
}

/*
Tile View
*/
.item {
    display: inline-block;
    background: #ddd;
    width: 110px;
    line-height: 130px;
    text-align: center;
    padding: 0 10px;
    color: #333;
    font-weight: 700;
    font-size: 1.1em;
    overflow: hidden;
    margin: 20px;
}
.folderitem {
    width: 130px;
    line-height: 170px;
    border: 3px solid #333;
    border-radius: 0 10px 10px 0;
    background: #5c5c5c;
    padding: 0;
    box-shadow: 1px 1px #fff,
        2px 2px #fff,
        3px 3px #fff,
        4px 4px #333,
        5px 5px #333,
        0 1px #333,
        0 2px #333,
        0 3px #333,
        1px 2px #333,
        1px 3px #333,
        1px 4px #333,
        2px 3px #333,
        2px 4px #333,
        2px 5px #333;
    transform: scale(1);
    transition: .1s;
}
.folderitem .text {
    background: rgba(255,255,255,1);
    width: 100%;
    border: 0;
    font-size: 0.9em;
    text-align: left;
    padding: 12px 20px 12px 5px;
    word-wrap: break-word;
    box-shadow: 0 0 0 3px rgba(255,255,255,0.5);
    font-size: .8em;
}
.folderitem::before {
    content: "";
    display: block;
    width: 7px;
    height: 172px;
    background: #333;
    padding: 0;
    margin-left: 107px;
    margin-top: -1px;
    box-shadow: 1px 0 5px -2px #000,
        -1px 0 5px -2px #000;
    position: absolute;
}
.item span.text {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
.back {
    float: left;
    display: inline-block;
    text-align: center;
    border: 2px solid #333;
    padding: 2px 10px 5px 0px;
    border-radius: 10px;
    background: #eee;
    font-weight: 700;
    font-size: .9em;
    color: #444;
    margin: 0 10px !important;
    vertical-align: middle;
    cursor: pointer;
    transition: .5s;
}
#notes .back {
    margin-left: 50px !important;
}
.back .fa {
    font-size: 1.3em;
    position: relative;
    top: 3px;
    left: 7px;
    margin-left: -4px;
}
#note .back {
    margin-left: 5px !important;
}
.item span.editrow {
    display: block;
    position: absolute;
    line-height: 0;
    text-align: right;
    margin-top: -23px;
}
.item span.editrow button {
    display: inline-block;
    background: #777;
    border: 0;
    width: 23px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    color: #fff;
    margin-left: -5px;
    border-right: 3px solid #333;
    border-bottom: 3px solid #333;
    border-top: 3px solid #333;
    cursor: pointer;
    font-size: .8em;
    padding: 0;
    outline: 0;
    transition: .1s;
}
.blocitem span.editrow button[disabled] {
    opacity: 0.5;
    background: #777;
    color: #fff;
}
.blocitem .fa.fa-school {
    display: block;
    color: rgb(255, 255, 255);
    padding: 3px;
    position: absolute;
    z-index: 100;
    font-size: 1em;
    background: rgba(255,255,255,0.3);
    border-radius: 0 0 30% 0;
}
.item span.editrow>button:first-child {
    border-left: 3px solid #333;
    width: 27px;
}
.noteitem span.editrow {
    width: 114px;
    margin-top: -18px;
    opacity: 0;
    z-index: 15;
    transition: .2s;
}
.folderitem .editrow {
    width: 0 !important;
    height: 26px !important;
    overflow: hidden;
    margin: -23px 0 0 -3px !important;
    transition: width .2s;
}
.noteitem {
    border: 3px solid #444;
    text-align: left;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    border-radius: 4px;
}
.noteitem .text {
    vertical-align: bottom !important;
    margin-top: -10px;
    background: #bf4646;
    color: #fff;
    width: 100%;
    padding-left: 5px;
    opacity: .9 !important;
    transition: .1s;
    font-weight: 400;
    position: relative;
    z-index: 1;
}
.plusitem {
    box-sizing: content-box;
    border-radius: 50%;
    display: inline-block;
    background: #bbb;
    width: 60px;
    line-height: 60px;
    padding: 0;
    text-align: center;
    color: #111;
    font-weight: 700;
    font-size: 2em;
    margin: 42px;
    margin-top: 65px;
    vertical-align: top;
    box-shadow: 1px 1px #999,
        2px 2px #999;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 0;
    transition: .2s;
}
.folderplus.plusitem {
    margin-top: 80px;
    margin-left: 52px;
    margin-right: 52px;
}
#foldername #nametxt {
    font-size: 1.2em;
    margin-left: -100px;
    font-weight: 600;
}
.noteitem::before {
    content: "";
    display: block;
    height: 0;
    width: 0;
    border-top: solid 10px #e1e4f7;
    border-right: solid 10px #e1e4f7;
    border-bottom: solid 10px #666;
    border-left: solid 10px #666;
    box-shadow: -1px 1px #444,
        -2px 2px #444,
        -3px 3px #444;
    position: absolute;
    margin-left: 87px;
    margin-top: -3px;
    border-bottom-left-radius: 4px;
}
.noteitem .preview {
    text-align: justify;
    opacity: 1;
    line-height: inherit;
    width: 104px;
    position: absolute;
    margin: 0 auto;
    font-size: .9em;
    vertical-align: middle;
    word-wrap: break-word;
    transition: .1s;
}
.noteitem.mash {
    box-shadow: inset 0 0 0 100px rgba(255,255,255,0);
    transition: .2s;
}
.noteitem.mash:not(.checked):active::after {
    background-image: url("../img/check-green.svg")!important;
}
.noteitem.mash.checked {
    box-shadow: inset 0 0 0 100px rgba(255,255,255,0.45);
}
.noteitem.mash.checked::after {
    background-image: url("../img/check-green.svg");
    background-size: 45px;
}
.mash-head {
    font-size: 2em !important;
    position: relative;
    top: -5px;
    left: -11%;
    margin-left: 90px !important;
    display: block;
}
.mash.type-url {
    display: none;
}
#mashinfo {
    border: 2px solid #333;
    margin: 0 auto;
    margin-top: 10px;
    width: 90%;
    padding: 7px;
    border-radius: 7px;
    background: #d3efd4;
}
#mash .back {
    position: relative;
    z-index: 100;
}
.preview>* {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0;
    transition: opacity .1s,
        transform .3s;
    width: 100%;
    line-height: normal;
    font-size: 1em;
    padding: 4px;
}
.type-url .preview,
.type-text .preview {
    height: 125px;
    overflow: hidden;
}
.noteitem::after {
    content: "";
    display: block;
    height: 130px;
    width: 104px;
    position: absolute;
    margin-top: -130px;
    z-index: 0;
    opacity: .8;
    transition: .2s;
}
.audiopreview {
    line-height: 40px;
    height: 40px;
    text-align: center;
}
.audiopreview .bar {
    display: inline-block;
    width: 8px;
    height: 7px;
    background: #000;
    vertical-align: bottom;
    opacity: .7;
}
@keyframes audiobars {
    from {
        height: 7px;
    }
    to {
        height: 35px;
    }
}
@-webkit-keyframes audiobars {
    from {
        height: 7px;
    }
    to {
        height: 35px;
    }
}
@-moz-keyframes audiobars {
    from {
        height: 7px;
    }
    to {
        height: 35px;
    }
}
.type-word .text {
    background: rgba(36,98,149,0.9);
}
.type-word::after {
    background-image: url(../img/word.svg);
    background-repeat: no-repeat;
    background-size: 50px;
    background-position: center;
    opacity: .7;
}
.type-word {
    background-color: #6fa4d0;
}
.type-word::before {
    border-bottom-color: #6fa4d0;
    border-left-color: #6fa4d0;
}
.type-pdf .text {
    background: rgba(224,28,28,0.9);
}
.type-pdf::after {
    background-image: url(../img/pdf.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.type-pdf {
    background-color: #fd7070;
}
.type-pdf::before {
    border-bottom-color: #fd7070;
    border-left-color: #fd7070;
}
.type-url .text {
    background: rgba(111,125,181,0.9);
    opacity: 1;
}
.type-url::after {
    background-image: url(../img/url.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.type-url {
    background-color: #c3c1ff;
    transition: .1s;
}
.type-url::before {
    content: initial;
}
.type-text .text {
    background: rgba(128,128,128,0.9);
    opacity: 1;
}
.type-text::after {
    background-image: url(../img/text.svg);
    background-repeat: no-repeat;
    background-size: 40px;
    background-position: center;
}
.type-text {
    background-color: #e0e0e0;
    transition: .1s;
}
.noteitem .previewtext {
    font-size: .85em;
    text-align: left;
}
.type-text::before {
    border-bottom-color: #e0e0e0;
    border-left-color: #e0e0e0;
}
.previewtext .floatelement {
    display: inline-block;
    height: 15px;
    width: 18px;
    float: right;
}
.type-image .text {
    background: rgba(6,155,58,0.9);
    opacity: 1;
}
.type-image::after {
    background-image: url(../img/image.svg);
    background-repeat: no-repeat;
    background-size: 47px;
    background-position: center;
}
.type-image {
    background-color: #6cd992;
    transition: .1s;
}
.type-image .preview img {
    max-height: 130px;
    max-width: 104px;
    display: inline-block;
    margin: 0 auto !important;
    height: auto;
    width: auto;
    line-height: 130px;
    vertical-align: middle;
}
.type-image .preview {
    text-align: center;
}
.type-image::before {
    content: initial;
}


/*
Modal
*/
#modal .fa-times {
    display: block;
    border: 3px solid #ccc;
    width: 25px;
    line-height: 20px;
    text-align: center;
    vertical-align: middle;
    float: right;
    cursor: pointer;
    margin: -4px -6px 0 0;
}
#modalinner {
    display: inline-block;
    border: 3px solid #333;
    padding: 20px;
    min-width: 250px;
    max-width: 600px;
    max-height: 450px;
    background: #fff;
    margin-top: -20px;
    cursor: initial;
    outline: 1px solid rgba(255,255,255,0.2);
}
#modal {
    display: table-cell;
    width: calc(100% - 50px);
    height: auto;
    overflow-y: auto;
    vertical-align: middle;
    text-align: center;
    padding: 15px;
}
@media (min-width: 500px) {
    #modal {
        left: calc(50% - 225px);
    }
}
#modal h3 {
    margin-top: 0;
}
#modal [type="text"] {
    display: block;
    width: 100%;
    border: 3px solid #444;
    padding: 5px;
    font-size: 1em;
    font-weight: 600;
    color: #444;
    -webkit-transition: .1s;
    transition: .1s;
    margin-bottom: 10px;
}
#modal [type="text"]:focus {
    outline: 0;
    border-color: steelblue;
}
#modal button,
#modal [type="submit"],
button[type="button"],
#modal [type="button"] {
    display: block;
    margin: 15px auto;
    background: #ccc;
    border: 0;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #888 1px 1px 1px;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 600;
    font-size: .9em;
}
#modal label {
    display: block;
    margin: 15px auto;
    background: #ccc;
    border: 0;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #888 1px 1px 1px;
}
#drop {
    border: dashed 3px #444;
    display: block;
    padding: 60px 10px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: .5s;
    -webkit-transition: .1s;
    transition: .1s;
}
.filedownload {
    text-decoration: none;
    font-weight: 600;
    display: inline-block;
    border: 2px solid #333;
    color: #222;
    padding: 5px 10px;
    transition: .1s;
}
#modal .back {
    -webkit-transform: scale(.9);
    transform: scale(.9);
    margin-bottom: 10px !important;
    margin-left: -3px !important;
    display: block;
    text-align: left;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-width: 3px;
}
#modal #notemenu button,
#modal #notemenu [type="submit"],
#modal #notemenu [type="button"] {
    width: 100%;
}
#modalcontainer {
    background: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: table;
    z-index: 20;
}
.color-picker-input-wrapper {
    width: 100% !important;
}
.color-picker-input {
    margin-left: 30px !important;
    width: calc(100% - 30px) !important;
}
.color-picker-swatch {
    height: 65% !important;
    border-radius: 0 !important;
    border: 3px solid #333 !important;
    padding: 14px !important;
    margin: -3px 0 0 -3px !important;
}
.color-picker-input:focus .color-picker-swatch {
    border-right-color: steelblue !important;
}
#modal pre {
    display: inline-block;
    background: #ddd;
    padding: 7px;
    font-size: 1.2em;
    margin: 5px auto;
    position: relative;
    top: -2px;
    width: fit-content;
}
#modal #refcode b {
    font-weight: 600;
}

/*
Note View
*/
#content {
    height: 100%;
}
#notes {
    height: 100%;
}
#dragndrop {
    display: none;
    position: fixed;
    top: 5%;
    left: 5%;
    right: 0;
    bottom: 0;
    height: 90%;
    width: 90%;
    z-index: 100;
    background: #eee;
}
#dropzone {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    border: 4px dashed #333;
    box-shadow: rgba(0,0,0,0.3) 0 0 0 100px;
    cursor: pointer;
    transition: .2s;
    font-size: 1.5em;
}
#hidedrag {
    display: block;
    position: fixed;
    top: 5%;
    right: 5%;
    margin-top: 10px;
    margin-right: 10px;
    background: transparent;
    border: 2px solid #444;
    padding: 5px 10px;
    font-family: "Open Sans",
        sans-serif;
    font-weight: 800;
    cursor: pointer;
}
#note {
    text-align: left;
    padding: 15px 5px 20px 5px;
    max-width: 700px;
    margin: 0 auto;
}
#note .back {
    margin-bottom: 5px !important;
}
@media (min-width: 900px) {
    #note {
        box-shadow: 0 0 25px -5px;
        margin: -30px auto 0 auto;
    }
    #note #imgnote img {
        box-shadow: none;
        border-width: 3px;
    }
}
#imgnote img {
    display: block;
    width: calc(100% - 10px);
    max-width: 30em;
    margin: 0 auto;
    border: 3px solid #333;
    box-shadow: 0 7px 15px;
}
#pdfnote iframe {
    display: block;
    width: calc(100% - 10px);
    height: 25em;
    margin: 0 auto;
    border: 3px solid #333;
    box-shadow: 0 7px 15px;
    background: #333;
}
#wordnote iframe {
    display: block;
    width: calc(100% - 10px);
    height: 25em;
    margin: 0 auto;
    border: 3px solid #333;
    box-shadow: 0 7px 15px;
    background: #333;
}
#urlnote #urledit {
    display: none;
}
#urlnote #urlb {
    display: inline-block;
    vertical-align: middle;
}
#urlnote #urlb .fa {
    display: inline-block;
    margin: 10px;
    text-align: center;
    border-radius: 4px;
    padding: 10px;
    background: #bfbfbf;
    color: #222;
    cursor: pointer;
    vertical-align: middle;
}
#urlnote #urledit:checked + #urlb .fa {
    background: #333;
    color: #fff;
}
#urlnotedata {
    display: inline-block;
    background: #eee;
    padding: 6px;
    vertical-align: middle;
    text-decoration: none;
    color: #5e5ef7;
    font-weight: 700;
    width: calc(100% - 80px);
    text-align: left;
    overflow-x: auto;
    border-radius: 0 7px 7px 0;
    border-left: 4px solid;
}
#urlnoteedit {
    padding: 0 5px;
    overflow-y: visible;
    background: #eee;
    vertical-align: middle;
    vertical-align: middle;
    text-decoration: none;
    color: #555;
    font-weight: 700;
    width: calc(100% - 80px);
    text-align: left;
    overflow-x: auto;
    overflow-y: visible;
    font-size: 1em;
    height: 2.4em;
    border-radius: 5px;
    border: 3px solid #333;
    display: none;
    -webkit-transition: .1s;
    transition: .1s;
}
#urlnoteedit:focus {
    outline: 0;
    color: #222;
    border-color: steelblue;
}
#urlnote #urledit:checked + #urlb + #urlnoteedit {
    display: inline-block;
}
#urlnote #urledit:checked + #urlb + #urlnoteedit + #urlnotedata {
    display: none;
}

/*
Account Settings Page
*/
#account {
    margin: 0 auto;
    max-width: 400px;
    border-bottom: solid #ccc;
}
#content #account .back {
    position: absolute;
    left: 15px;
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
    top: 4em;
}
#account form {
    padding: 15px 15px 50px 15px;
    display: table;
    width: 100%;
}
#account .accountheading {
    margin-top: 40px;
    margin-bottom: 5px;
    font-size: 1.7em;
}
#account .accountheading.firsthead {
    margin-top: 12px;
}
#account #accountpic #innerbutton {
    display: block;
    line-height: 144px;
    width: 144px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    opacity: 0;
    transition: .2s;
    font-weight: 600;
}
#account #accountpic {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
    height: 150px;
    width: 150px;
    background-size: cover !important;
    background-position: center;
    border: 3px solid #333;
}
#picdrop {
    border: dashed 3px #444;
    display: block;
    padding: 60px 20px;
    text-align: center;
    font-size: 1em;
    cursor: pointer;
    -webkit-transition: .5s;
    -webkit-transition: .1s;
    transition: .1s;
}
.accountrow > * {
    padding-bottom: 15px;
}
.accountrow {
    display: table-row;
    text-align: left;
}
.accountrow .label {
    display: table-cell;
    font-size: 1.1em;
}
.accountrow [type="text"],
.accountrow [type="password"],
textarea {
    width: 100%;
    display: inline-block;
    border: 2px solid #555;
    margin-left: 10px;
    padding: 3px 7px;
    font-size: 1.05em;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 600;
    color: #444;
    -webkit-transition: .2s;
    transition: .2s;
}
.accountrow [type="text"]:focus,
.accountrow [type="password"]:focus {
    color: #111;
    outline: 0;
    border-color: steelblue
}
#buttoncontainer {
    display: block;
    width: calc(100% - 30px);
    max-width: 400px;
    position: absolute;
    margin: 0 auto;
}
#account button,
#account [type="submit"],
#account [type="button"] {
    display: inline-block;
    background: #ccc;
    border: 0;
    padding:  7px;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: #888 1px 1px 1px;
    font-family: 'Open Sans',
        sans-serif;
    font-weight: 600;
    font-size: .9em;
}
@media (min-width: 610px) {
    #account {
        max-width: 600px;
    }
    .accountrow {
        width: 100%;
    }
    #buttoncontainer {
        max-width: 600px;
    }
}

/*
Research Tool Page
*/
#simg {
    display: inline-block;
    vertical-align: middle;
    margin: 5px auto;
    width: 40%;
    max-width: 200px;
    position: relative;
    left: calc(-1.3% - 15px);
    transition: cubic-bezier(.16,0,.83,1);
}
#sbar {
    display: block;
    margin: 0 auto;
    font-size: 1.25em;
    font-family: 'Open Sans';
    width: 90%;
    max-width: 390px;
    padding: 0.27em 0.4em 0.27em 0.7em;
    border: 2px solid #555;
    background: rgb(205, 209, 234);
    color: #444;
    font-weight: 600;
    transition: .2s, margin .3s;
    outline: 0;
}
#sbar:focus {
    padding: 0.27em 0.4em;
    color: #111;
    background: rgba(255,255,255,0.4);
}
#sbar::-webkit-input-placeholder,
#sbar:-moz-placeholder,
#sbar::-moz-placeholder, 
#sbar:-ms-input-placeholder,
#sbar::-ms-input-placeholder{
    color: red;
}
.srad {
    display: none;
}
#search {
    padding: 0 10px;
}
#soptions {
    font-weight: 700;
    color: #1d1d1d;
    margin-top: 10px;
    overflow-x: hidden;
}
.rlab {
    display: inline-block;
    width: 25%;
    margin: 0 auto;
    padding: 10px 0;
    text-align: center;
    background: #fff;
    cursor: pointer;
    border-bottom: 3px solid #333;
    transition: .1s;
}
.rlab[for="cradio"] {
    background: #8db6d1;
}
.rlab[for="tradio"] {
    background: #99d3a6;
}
.rlab[for="comradio"] {
    background: #ff7474;
}
.rlab[for="sradio"] {
    background: #e3da93;
}
.results #cradio:checked ~ #soptions .rlab[for="cradio"],
.results #tradio:checked ~ #soptions .rlab[for="tradio"],
.results #comradio:checked ~ #soptions .rlab[for="comradio"],
.results #sradio:checked ~ #soptions .rlab[for="sradio"] {
    border-bottom-color: transparent;
}
#cradio:checked ~ #searchbox {
    background: #8db6d1;
}
#tradio:checked ~ #searchbox {
    background: #99d3a6;
}
#comradio:checked ~ #searchbox {
    background: #ff7474;
}
#sradio:checked ~ #searchbox {
    background: #e3da93;
}
#searchbox {
    display: block;
    margin: 0 auto;
    background: #8db6d1;
    padding: 10px;
    min-height: 100px !important;
    transition: .2s;
    text-align: left;
    overflow: auto;
}
.sloading {
    font-weight: 600;
    margin: 10px auto;
    font-size: 1.2em;
    color: #111;
}
/* Results */
#search:not(.results) #searchbox {
    height: 0 !important;
    padding: 0;
    min-height: 0 !important;
    transition: .5s;
    overflow: hidden;
    text-align: center;
}
.source:first-child {
    margin-top: 5px;
}
.source {
    font-weight: 700;
    font-size: 1.1em;
    margin: 20px 0 2px 0;
    border-bottom: solid 1px #333;
    color: #111;
}
.slink {
    color: #292990;
    text-decoration: none;
    font-weight: 600;
}
.sitem {
    display: inline-block;
    width: 100%;

}
.tile-res {
    text-align: center;
}
.s-tile {
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.6);
    line-height: 115px;
    width: 125px;
    margin: 7px 5px;
    border-radius: 4px;
    color: #333;
    font-weight: 600;
    border: 2px solid #888;
    padding: 3px;
}
.s-tile span {
    display: inline-block;
    line-height: normal;
    vertical-align: middle;
}
#sArrows {
    display: block;
}
#leftS,
#rightS {
    display: inline-block;
    vertical-align: middle;
    border: 0;
    outline: none;
    background: #222;
    color: #d8d8d8;
    border-radius: 50%;
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 3em;
    text-align: center;
    line-height: 60px;
    width: 60px;
    height: 60px;
    transition: .2s;
    cursor: pointer;
    position: relative;
    z-index: 10;
    margin-top: -20px;
}
#leftS:hover,
#rightS:hover {
    opacity: 1 !important;
}


/*
Sidebar and Responsiveness
*/
#sidebar {
    position: fixed;
    display: block;
    width: 39px;
    height: 100%;
    background: #444;
    padding: 0;
    padding-top: 48px;
    padding-bottom: 16px;
    left: 0;
    top: 0;
    color: #eee;
    z-index: 3;
    transition: .2s,
        width .1s;
}
.sidetxt {
    display: none;
    font-weight: 600;
    font-size: 1em;
    vertical-align: middle;
    margin-top: -1px;
    padding-left: 5px;
}
.sideitem {
    background: #333;
    padding: 7px;
    cursor: pointer;
    transition: .1s;
    border-bottom: 2px solid #555;
}
.sideitem .fa {
    display: inline-block;
    vertical-align: middle;
    font-size: 1.5em;
}
.sideitem .fa.fa-book,
.sideitem .fa.fa-link2,
.sideitem .fa.fa-mash,
.sideitem .fa.fa-search {
    font-size: 1.3em;
    padding: 2px;
}

@media (max-width: 900px) {
    #tagline {
        display: none !important;
    }
    #foldername {
        margin-top: 15px !important;
    }
}
@media (min-width: 500px) {
    #brand {
        width: 166px;
        left: 5%;
    }
    #menub:checked + #masthead #dcontainer {
        display: table;
        width: 8.5em;
        right: -1px;
        border: 1px solid #333;
        border-top-width: 0;
        margin-right: 0;
    }
    #drop {
        padding: 70px;
    }
    .mash-head {
        margin-left: 222px !important;
    }
}
@media (max-width: 450px) {
    .rlab {
        width: 50% !important;
    }
    .rlab:nth-child(2n)::after {
        content: "";
        display: block;
        height: 45px;
        background: #333;
        width: 3px;
        margin-top: -32px;
        position: absolute;
    }
}
@media (max-width: 400px) {
    #foldername #nametxt {
        margin-left: 0 !important;
    }
    #notes .back {
        margin-left: 10px !important;
    }
}
@media (min-width: 900px) {
    #brand {
        left: 0;
        padding: 13px 14px 11px 14px;
        width: 170px;
    }
    #brand::after {
        content: "";
        display: block;
        height: 100px;
        width: 100px;
        background: red;
        position: relative;
        z-index: 100;
    }
    #container {
        width: calc(100% - 170px) !important;
        left: 170px !important;
    }
    #content {
        margin-top: 30px;
    }
    #rightm {
        padding: 12px !important;
    }
    #tinypic {
        top: 15px;
        height: 45px;
    }
    #tagline {
        display: inline-block;
        position: absolute;
        top: 6px;
        font-size: .85em;
        font-weight: 600;
        margin-left: 157px;
    }
    #dcontainer {
        margin-top: 22px;
    }
    #sidebar {
        padding-top: 48px !important;
        position: fixed;
        display: block;
        width: 170px;
        height: 100%;
        background: #444;
        padding: 0;
        padding-top: 39px;
        padding-bottom: 16px;
        left: 0;
        top: 0;
    }
    .sidetxt {
        display: inline-block;
    }
    #folders {
        margin-top: -35px;
    }
    #simg {
        display: block;
        margin: 0 auto !important;
    }
    #sbar {
        margin: 20px auto !important;
    }
    .results #sbar {
        margin: 15px auto !important;
        margin-top: 5px !important;
        transition: .2s,
            margin .3s .8s;
    }
}


/*
Touch Check
*/

body:not(.touch) #leftS,
body:not(.touch) #rightS {
    opacity: 0.6;
}
body:not(.touch) .item span.editrow button:hover {
    background: #ddd;
    color: #444;
}
body:not(.touch) .type-image:hover .preview {
    opacity: .9;
}
body:not(.touch) #dropdown li:hover {
    color: #ddd;
    background: #444;
}
body:not(.touch) #brand:hover {
    box-shadow: 0 0 10px -3px;
    background: #23a0bf;
}
body:not(.touch) #brand:hover #brandblue {
    fill: #eee;
}
body:not(.touch) .folderitem:hover {
    transform: scale(1.15);
}
body:not(.touch) .back:hover {
    text-decoration: none;
    display: inline-block;
    border: 2px solid #333;
    color: #222;
    background: #444;
    color: #fff;
}
body:not(.touch) .noteitem:hover span.editrow {
    opacity: 1;
}
body:not(.touch) .folderitem:hover .editrow {
    width: 73px !important;
}
body:not(.touch) .blocitem.mod-true:hover .editrow {
    width: 95px !important;
}
body:not(.touch) .plusitem:hover {
    padding: 5px;
    top: -5px;
    left: 5px;
    margin-left: 32px;
    transition: .1s;
}
body:not(.touch) .folderplus.plusitem:hover {
    margin-left: 42px;
}
body:not(.touch) .noteitem.mash:hover {
    box-shadow: inset 0 0 0 100px rgba(255,255,255,0.6);
}
body:not(.touch) .noteitem.mash:hover::after {
    background-image: url("../img/check.svg");
    background-size: 45px;
    opacity: .6;
}
body:not(.touch) .noteitem.mash.checked:hover::after {
    background-image: url("../img/cross.svg");
}
body:not(.touch) .noteitem:hover:not(.mash) {
    background-image: none;
}
body:not(.touch) .noteitem:hover:not(.mash) .preview>* {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
}
body:not(.touch) .noteitem.type-url:hover:not(.mash) .preview>* {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: scale(.9);
    transform: scale(.9);
    opacity: .9;
}
body:not(.touch) .noteitem:hover:not(.mash)::after {
    opacity: 0;
}
body:not(.touch) .noteitem:hover:not(.mash) .audiopreview .bar {
    -webkit-animation: audiobars .4s infinite alternate;
    animation: audiobars .4s infinite alternate;
}
body:not(.touch) .noteitem:hover:not(.mash) .audiopreview .bar:nth-of-type(1) {
    -moz-animation-delay: -400ms;
    -webkit-animation-delay: -400ms;
    animation-delay: -400ms;
}
body:not(.touch) .noteitem:hover:not(.mash) .audiopreview .bar:nth-of-type(2) {
    -moz-animation-delay: -300ms;
    -webkit-animation-delay: -300ms;
    animation-delay: -300ms;
}
body:not(.touch) .noteitem:hover:not(.mash) .audiopreview .bar:nth-of-type(3) {
    -moz-animation-delay: -200ms;
    -webkit-animation-delay: -200ms;
    animation-delay: -200ms;
}
body:not(.touch) .noteitem:hover:not(.mash) .audiopreview .bar:nth-of-type(4) {
    -moz-animation-delay: -100ms;
    -webkit-animation-delay: -100ms;
    animation-delay: -100ms;
}
body:not(.touch) .noteitem:hover:not(.mash) .text {
    opacity: 0 !important;
}
body:not(.touch) #drop:hover {
    border-color: steelblue;
}
body:not(.touch) .filedownload:hover {
    text-decoration: none;
    display: inline-block;
    border: 2px solid #333;
    color: #222;
    padding: 5px 10px;
    background: #666;
    color: #fff;
}
body:not(.touch) #dropzone:hover {
    border-color: steelblue;
}
body:not(.touch) #hidedrag:hover {
    border-color: steelblue;
}
body:not(.touch) #account #accountpic:hover #innerbutton {
    opacity: 0.8;
}
body:not(.touch) #picdrop:hover {
    border-color: steelblue;
}
body:not(.touch) .sideitem:hover {
    background: #777;
}